html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
<<<<<<< HEAD
}

a {
  color: $mainOrange;
=======
>>>>>>> f1173e7b059d59d592ab4ddb1b2de536e63f89c7
}